
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @*<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/ErrorStyles.css" rel="stylesheet" />*@
    <script src="~/Scripts/modernizr-2.8.3.js"></script>


    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@

</head>
<body>

    <header>
        @Html.Partial("NavBar")
    </header>


    <div style="display: block;">
        @Html.Action("Menu", "Nav")
    </div>

    <div style="display: block;">
        @Html.Action("OrderFilter", "Nav")
    </div>

    @*<div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>*@

    <div class="container body-content">
        @RenderBody()
    </div>
    <hr />

    @*@section Footer {
            Все права защищены. Syte Corp. 2012.
        }*@


    <footer>
        @Html.Partial("Footer")
    </footer>

    <footer>
        @if (IsSectionDefined("Footer1"))
        {
            @RenderSection("Footer1")
        }
        else
        {
            <span>Содержание элемента footer по умолчанию.</span>
        }
    </footer>


    @*<footer>@RenderSection("Footer1", false)</footer>*@



    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

    @*//до  jquery validate*@
    <script src="~/Scripts/vali"></script>
    @*@Scripts.Render()*@

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.js")

    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)*@
</body>
</html>


















