@*lena*@

@*https://stackoverflow.com/questions/22918272/unable-to-cast-object-of-type-system-data-entity-infrastructure-dbquery1-us*@

    <style>
        #cartTable td {
            vertical-align: middle;
        }
    </style>


@model WebStoreUi.Models.CartIndexViewModel

@{
    ViewBag.Title = "Корзина";
}

<h2>Ваша корзина:</h2>
@{ int count = 0;}
<table id="cartTable"  class="table table-bordered table-hover">
    <thead>
        <tr>
            <th scope="col">Good</th>
            <th scope="col">Price</th>
            <th scope="col">Amount</th>
            <th scope="col">Sum</th>
            <th></th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Cart.Items)
        {
            <tr>
                <td>@item.Product.Name</td>
                <td>@item.Product.Price.ToString("# грн")</td>
                <td>
                    @*<p id="#cartIncrement+@count.ToString()">@item.Quantity</p>*@
                    <p id="#cartIncrement">@item.Quantity</p>

                    <div>
                        @*@Ajax.ActionLink("+", "AddToCartAjax", "Cart", new { productId = item.Product.Id, returnUrl = Model.ReturnUrl }, new AjaxOptions { UpdateTargetId = "cartIncrement+" + @count.ToString(), InsertionMode = InsertionMode.Replace }, new { @class = "btn btn-primary btn-sm" })*@


                        @Html.ActionLink("+", "AddToCart", "Cart", new { productId = item.Product.Id, returnUrl = Model.ReturnUrl }, new { @class = "btn btn-primary btn-sm" })
                        @*<button type="button" class="btn btn-success "><i class="fa fa-plus" style="color:black">
                @Html.ActionLink("+", "AddToCart", "Cart", new { productId = item.Product.Id, returnUrl = Model.ReturnUrl }, new { style = "text-decoration:none; color: black;" })
            </i></button>*@

                        @*@Ajax.ActionLink("-", "RemoveFromCartDecrementAjax", "Cart", new { productId = item.Product.Id, returnUrl = Model.ReturnUrl }, new AjaxOptions { UpdateTargetId = "cartIncrement", InsertionMode = InsertionMode.Replace }, new { @class = "btn btn-primary btn-sm" })*@

                        @Html.ActionLink("-", "RemoveFromCartDecrement", "Cart", new { productId = item.Product.Id, returnUrl = Model.ReturnUrl }, new { @class = "btn btn-primary btn-sm" })

                    </div>

                </td>
                <td>@((item.Product.Price * item.Quantity).ToString("# грн"))</td>

                <td>
                    @using (Html.BeginForm("RemoveFromCart", "Cart"))
                    {
                        @Html.Hidden("productid", item.Product.Id)
                        @Html.HiddenFor(x => x.ReturnUrl)
                        @*<input class="btn btn-sm btn-warning" type="submit" value="Delete">*@
                        <button type="submit" class="btn btn-sm btn-warning"><i class="fa fa-close" style="color:black">Delete</i></button>
                    }
                </td>

            </tr>

             count++; 
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="4">Total:</td>
            <td>@Model.Cart.ComputeTotalValue()</td>
        </tr>
    </tfoot>

</table>

@*<div>
    <a class="btn btn-primary" href="@Model.ReturnUrl">Continue shopping</a>

</div>*@

<div class="text-center">
    <a class="btn btn-primary" href="@Model.ReturnUrl">Continue shopping</a>
    @Html.ActionLink("Order", "Checkout", "Cart", new { cart = Model.Cart}, new { @class = "btn btn-primary" })
</div>







@*<div>
    <a class="btn btn-primary" href="@Html.ActionLink("Delete", "Delete", new { id = good.Id })">to order</a>
    <button class="btn1"><i class="fa fa-trash"> @Html.ActionLink("Delete", "Delete", new { id = good.Id })</i></button>
</div>*@




