@*@model IEnumerable<WebStoreDomain.Entities.UserAuthentication.Role>*@


@using PagedList.Mvc;
@model PagedList.IPagedList<WebStoreDomain.Entities.UserAuthentication.Role>

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />



@{
    ViewBag.Title = "Index";
}

@{WebStoreDomain.Entities.UserAuthentication.Role myrole = new WebStoreDomain.Entities.UserAuthentication.Role(); }


@{
    ViewBag.Title = "Index";
}

<h2>Roles: </h2>

<p>
    <div style="margin:5px;  margin-top: 10px;">
        <a href=@Url.Action("Create", "Roles") style="text-decoration:none; color: black;">
            <button type="button" class="btn btn-success btn-sm">  <i class="fa fa-edit" style="color:black">Create</i></button>
        </a>
    </div>

    @*   @Html.ActionLink("Create New", "Create")*@
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => @myrole.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => @myrole.Description)
        </th>
        <th></th>
    </tr>

    @foreach (WebStoreDomain.Entities.UserAuthentication.Role item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>

                <div>
                    <a href=@Url.Action("Edit", "Roles", new { id = item.Id}) style="text-decoration:none; color: black;">
                        <button type="button" class="btn btn-success btn-sm">  <i class="fa fa-edit" style="color:black">Edit</i></button>
                    </a>


                    <a href=@Url.Action("Delete", "Roles", new { id = item.Id }) style="text-decoration:none; color: black;">
                        <button type="button" class="btn btn-success btn-sm">  <i class="fa fa-edit" style="color:black">Delete</i></button>
                    </a>
                </div>


                @*@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })*@
            </td>
        </tr>
    }

</table>



<br />
Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
